<div id="navbar">
  <div id="navbar-contents">
    <a href="/" id="header-name" aria-label="Charlie Mouton">
      <img src="assets/img/signature.svg" alt="Charlie Mouton" width="237" height="40">
    </a>
    <nav id="header-nav">
      <a href="/aboutme" class="header-link">Creator</a>
      <a href="/" class="header-link">Design Leader</a>
      <!-- <span class="header-divider" aria-hidden="true"><img src="assets/img/HandwritingLineDivider.svg" alt=""></span> -->

    </nav>
  </div>
</div>
