<div id="navbar">
  <div id="navbar-contents">
    <a href="/" id="header-name" aria-label="Charlie Mouton">
      <img src="assets/img/signature.svg" alt="Charlie Mouton" width="237" height="40">
    </a>
    <button type="button" id="header-hamburger" class="header-hamburger" aria-label="Open menu" aria-expanded="false">
      <img src="assets/img/decorative/Menu.svg" alt="" width="40" height="36">
    </button>
    <nav id="header-nav">
      <a href="/create" class="header-link">Creator</a>
      <a href="/lead" class="header-link">Design Leader</a>
    </nav>
  </div>
</div>
<div id="header-mobile-overlay" class="header-mobile-overlay" aria-hidden="true">
  <div class="header-mobile-panel">
    <div class="header-mobile-top">
      <a href="/" class="header-mobile-name" aria-label="Charlie Mouton">
        <img src="assets/img/signature.svg" alt="Charlie Mouton" width="180" height="30">
      </a>
      <button type="button" class="header-mobile-close" aria-label="Close menu">
        <img src="assets/img/decorative/menu-close.svg" alt="" width="36" height="36">
      </button>
    </div>
    <nav class="header-mobile-nav">
      <a href="/aboutme" class="header-mobile-link">
        <span>Growth</span>
        <img src="assets/img/decorative/arrow.svg" alt="" class="header-mobile-arrow" width="24" height="16">
      </a>
      <a href="/" class="header-mobile-link">
        <span>Order</span>
        <img src="assets/img/decorative/arrow.svg" alt="" class="header-mobile-arrow" width="24" height="16">
      </a>
    </nav>
  </div>
</div>
